:root {
  --fontSecondairy: "Roboto", sans-serif;
  --fontPrimary: "Poppins", sans-serif;
  --TextEmail: #fffcf8;
  --TextSpan: #ffffff;
  --Text-button: #fefefe;
  --TextHeader: #f4f6f5;
  --TextFooter: #d9d9d9;
  --TextBackground: #ebd96b;
  --Textemail: #e5c643;
  --TextExplore: #7f7f7f;
  --TextAdd-Email: #767676;
  --TextDownload: #7c7c7c;
  --Text-Question: #8e8e8e;
  --TextTitle: #000000;
  --TextAbout: #191818;
  --TextPhoto: #191919;
  --TextDiscount: #231300;
  --TextPrimary: #242323;
}

body {
  font-family: var(--fontPrimary);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.56;
  color: var(--TextTitle);
}

.container {
  max-width: 1750px;
  margin-inline: auto;
  padding-inline: 15px;
}

.header {
  padding-top: 48px;
  display: flex;
}

.header-container {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  max-width: 1718px;
}

.header-logo {
  font-weight: 900;
  font-size: 40px;
  padding-right: 577px;
  padding-bottom: 56px;
  gap: 15, 5px;
}

.header-logo::before {
  content: "";
  width: 32px;
  height: 29px;
  background-image: url(./images/logo.svg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 65px;
  font-size: 22px;
}

.nav-link:hover {
  opacity: 0.5;
  box-shadow: #000000;
}

.nav-sign-up {
  font-size: 24px;
  color: var(--Text-button);
  background-color: var(--TextTitle);
  border-radius: 7px;
  padding: 13px 22px 17px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.nav-sign-up:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nav-sign-up:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-sign-up::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  content: "";
  display: inline-block;
}

.nav-sign-up::after {
  background-color: #fff;
}

.nav-sign-up:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.shopping-content {
  flex-direction: column;
}

.shopping-container {
  max-width: 1720px;
  display: flex;
  padding-bottom: 63px;
  background-color: var(--TextHeader);
  border-radius: 59px;
  margin-bottom: 63px;
}

.shopping-title {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 96px;
  padding: 77px 175px 40px 119px;
}

.shopping-part {
  background-color: var(--TextBackground);
  background-position: left;
}

.shopping-text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 32px;
  padding-left: 119px;
  margin-bottom: 32px;
}

.shopping-button {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: -0.05em;
  color: var(--Text-button);
  background-color: var(--TextTitle);
  border-radius: 10px;
  padding: 19px 40px 18px 41px;
  margin: 32px 198px 90px 349px;
}

.shopping-button:hover {
  opacity: 0.5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.shopping-button::before {
  content: "";
  width: 190px;
  height: 32px;
  background-image: url(./images/yellow-vector.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.shopping-photo {
  width: 871;
  padding-top: 68px;
}

.sites {
  background-color: var(--TextBackground);
  text-align: center;
}

.sites-container {
  display: flex;
}

.sites-list {
  display: flex;
  text-align: center;
  gap: 121px;

  padding: 61px 121px 55px;
}

.arrivals-container {
  max-width: 1665px;
}

.arrivals {
  padding: 69px 0px 190px 0px;
}

.arrivals-title {
  margin: 0px 0px 118px 0px;
  font-weight: 900;
  font-size: 48px;
  gap: 23px;
}

.arrivals-title::after {
  content: "";
  width: 186px;
  height: 35px;
}

.arrivals-list {
  display: flex;
  gap: 90px;
}

.arrivals-item {
  flex-basis: calc((100% - 180px) / 3);
}

.arrivals-about {
  font-weight: 500;
  font-size: 32px;
  color: var(--TextPhoto);

  line-height: 50px;
  max-width: 321;
}

.arrivals-about:hover {
  color: var(--TextPrimary);
}

.explore {
  font-weight: 500;
  font-size: 24px;
  color: var(--TextExplore);
}

.publicity {
  background-image: url(./images/publicity-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 1924px;
  padding-top: 152px;
  padding-bottom: 140px;
}

.publicity-container {
  justify-content: flex-end;
  display: flex;
  gap: 69px;
}

.payday {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 665px;
}

.payday-title {
  font-weight: 900;
  font-size: 112px;
  line-height: 137.2px;
  max-width: 593px;

  padding-bottom: 33px;
}

.payday-span {
  background-color: var(--TextSpan);
}

.payday-text {
  font-weight: 500;
  font-size: 36px;
  color: var(--TextDiscount);
  padding-bottom: 41px;
}

.paydyay-date {
  font-weight: 700;
  font-size: 36px;
}

.payday-about {
  font-weight: 400;
  font-size: 36px;
}

.payday-button {
  color: var(--TextSpan);
  background-color: var(--TextTitle);
  padding: 27px 51px 38px;
  border-radius: 8px;
  line-height: 30px;
  text-align: center;
  align-self: flex-start;
}

.favourite-container {
  padding-bottom: 221px;
}

.favourite-title {
  display: flex;
  align-items: flex-start;
  font-weight: 900;
  font-size: 48px;
  margin-top: 190px;
  margin-bottom: 104px;
}

.favourite-list {
  display: flex;
  gap: 48px;
}

.favourite-item {
  flex-basis: calc((100% - 94px) / 2);
}

.favourite-about {
  font-weight: 500;
  font-size: 32px;
}

.apps {
  padding: 220px 0px;
}

.apps-container {
  display: flex;
  max-width: 1483px;
}

.download {
  width: 507px;
  height: 382px;
  text-align: start;

  gap: 305px;
}

.download-title {
  font-weight: 900;
  font-size: 48px;
  letter-spacing: 6%;
  line-height: 150%;
  padding-bottom: 41px;
}

.download-text {
  font-weight: 500;
  font-size: 24px;
  color: var(--TextDownload);

  padding-bottom: 65px;
}

.download-list {
  display: flex;
  gap: 19px;
}

.download-photo-img {
  margin-left: 305px;
}

.download-photo {
  display: block;
  margin-top: 0px;
  margin-bottom: 220px;
  gap: 305px;
  width: 671px;
  height: 710px;
}

.email {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--Textemail);
  padding: 302px 456px 292px 454px;
}

.email-container {
  max-width: 1010px;
}

.email-container input {
  padding-right: 80px;
}

.email-title {
  text-align: center;
  font-weight: 900;
  font-size: 55px;
  color: var(--TextSpan);

  width: 966px;
  line-height: 124px;
}

.email-text {
  font-weight: 400;
  font-size: 32px;
  color: var(--TextEmail);

  padding-bottom: 49px;
}

.send {
  color: var(--TextSpan);
  font-weight: 400;
}

.send-form {
  margin-left: 197px;
  display: flex;
  align-items: center;
  background-color: var(--TextSpan);
  border-radius: 10px;
  padding: 10px 10px 10px 27px;

  width: 574px;
}

.input {
  width: 269px;
  font-size: 24px;
  background-color: transparent;
  color: var(--TextAdd-Email);
  outline: none;
  width: 100%;
}

.send-button {
  font-size: 33px;
  background-color: var(--TextTitle);
  color: var(--TextSpan);
  border-radius: 8px;
  padding: 17px 35px 15px 38px;
}

.footer {
  background-color: var(--TextTitle);
  color: var(--Text-Question);
  padding-bottom: 147px;
}

.footer-container {
  display: flex;
  gap: 187px;
  flex-direction: row;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 415px;
}

.footer-logo {
  font-weight: 900;
  font-size: 40px;
  padding-top: 119px;

  color: var(--TextSpan);
}

.footer-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  width: 415px;
  height: 80px;
  letter-spacing: 2%;
  line-height: 40px;
}

.networks-list {
  display: flex;
  gap: 14px;
  padding-top: 32px;
}

.company-title,
.link-title,
.legal-title {
  font-weight: 400;
  line-height: 40px;
  color: var(--TextFooter);
  font-size: 24px;
  margin: 36px;
  padding-top: 87px;
}

.company-title:hover,
.link-title:hover,
.legal-title:hover {
  opacity: 0.8;
}

.company-list,
.link-list,
.legal-list {
  flex-direction: column;
  text-align: start;
  gap: 34px;
}

.company-title,
.link-title,
.legal-title {
  flex-direction: column;

  gap: 34px;
}

.company-item,
.link-item,
.legal-item {
  display: flex;
  font-family: var(--fontSecondairy);
  font-weight: 400;
  line-height: 40px;
  font-size: 24px;
  gap: 34px;

  line-height: 40px;
}

.company-list:hover,
.link-list:hover,
.legal-list:hover {
  opacity: 0.8;
}

.company-link,
.link-link,
.legal-link {
  gap: 34px;
}
