:root {
  --fontSecondairy: "Roboto", sans-serif;
  --fontPrimary: "Poppins", sans-serif;
  --TextEmail: #fffcf8;
  --TextSpan: #ffffff;
  --Text-button: #fefefe;
  --TextHeader: #f4f6f5;
  --TextFooter: #d9d9d9;
  --TextBackground: #ebd96b;
  --Textemail: #e5c643;
  --TextExplore: #7f7f7f;
  --TextAdd-Email: #767676;
  --TextDownload: #7c7c7c;
  --Text-Question: #8e8e8e;
  --TextTitle: #000000;
  --TextAbout: #191818;
  --TextPhoto: #191919;
  --TextDiscount: #231300;
  --TextPrimary: #242323;
}

body {
  font-family: var(--fontPrimary);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.56;
  color: var(--TextTitle);
}

.container {
  max-width: 1750px;
  margin-inline: auto;
  padding-inline: 15px;
}

.header {
  padding-top: 48px;
  display: flex;
}

.header-container {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.logo {
  font-weight: 900;
  font-size: 40px;
  padding-right: 577px;
  padding-bottom: 56px;
  gap: 15, 5px;
}

.logo::before {
  content: "";
  width: 32px;
  height: 29px;
  background-image: url(./img/fashion.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 65px;
  font-size: 22px;
}

.nav-sign-up {
  font-size: 24px;
  color: var(--Text-button);
  background-color: var(--TextTitle);
  border-radius: 7px;
  padding: 13px 22px 17px;
}

.shopping {
  background-color: var(--TextHeader);
  border-radius: 59px;
}

.shopping-content {
  flex-direction: column;
}

.shopping-container {
  display: flex;
  padding-bottom: 63px;
}

.shopping-title {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 96px;
  padding: 77px 175px 40px 119px;
}

.shopping-part {
  background-color: var(--TextBackground);
  background-position: left;
}

.shopping-text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 32px;
  padding-left: 119px;
  padding-bottom: 32px;
}

.shopping-button {
  color: var(--Text-button);
  background-color: var(--TextTitle);
  border-radius: 10px;
  padding: 19px 40px 18px 41px;
  margin: 32px 198px 90px 349px;
}

.shopping-button::before {
  content: "";
  width: 190px;
  height: 32px;
  background-image: url(./img/background-yellow.png);
}

.shopping-photo {
  margin-top: 68px;
}

.sites {
  background-color: var(--TextBackground);
  text-align: center;
}

.sites-container {
  display: flex;
}

.sites-list {
  display: flex;
  text-align: center;
  gap: 121px;

  padding: 61px 121px 55px;
}

.arrivals-container {
  max-width: 1665px;
}

.arrivals {
  padding: 69px 0px 190px 0px;
}

.arrivals-title {
  margin: 69px 0px 118px 0px;
  font-weight: 900;
  font-size: 48;
  gap: 23px;
}

.arrivals-title::after {
  content: "";
  width: 186px;
  height: 35px;
}

.arrivals-list {
  display: flex;
  gap: 90px;
}

.arrivals-item {
  flex-basis: calc((100% - 180px) / 3);
}

.arrivals-about {
  font-weight: 500;
  font-size: 32px;
  color: var(--TextPhoto);
}

.explore {
  font-weight: 500;
  font-size: 24px;
  color: var(--TextExplore);
}

.publicity {
  background-image: url(./img/publicity-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 1924px;

  height: 968px;
}

.publicity-container {
  display: flex;
  gap: 69px;
}

.payday {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 138px 199px 155px 1060px;
}

.payday-title {
  font-weight: 900;
  font-size: 112px;
  line-height: 137.2px;
  max-width: 593px;

  padding-bottom: 33px;
}

.payday-span {
  background-color: var(--TextSpan);
}

.payday-text {
  font-weight: 500;
  font-size: 36px;
  color: var(--TextDiscount);
  padding-bottom: 41px;
}

.paydyay-date {
  font-weight: 700;
  font-size: 36px;
}

.payday-about {
  font-weight: 400;
  font-size: 36px;
}

.payday-button {
  color: var(--TextSpan);
  background-color: var(--TextTitle);
  padding: 27px 51px 38px 51px;
  border-radius: 8px;
  line-height: 30px;
  text-align: center;
}

.favourite-container {
  padding-bottom: 221px;
}

.favourite-title {
  display: flex;
  align-items: flex-start;
  font-weight: 900;
  font-size: 48px;
  margin-top: 190px;
  margin-bottom: 104px;
}

.favourite-list {
  display: flex;
  gap: 48px;
}

.favourite-item {
  flex-basis: calc((100% - 94px) / 2);
}

.favourite-about {
  font-weight: 500;
  font-size: 32px;
}

.apps-container {
  display: flex;
}

.download {
  padding-left: 219px;
  gap: 305px;
}

.download-title {
  font-weight: 900;
  font-size: 48px;

  padding-top: 275px;
  padding-bottom: 41px;
  max-width: 507px;
}

.download-text {
  font-weight: 500;
  font-size: 24px;
  color: var(--TextDownload);

  padding-bottom: 65px;
  max-width: 419px;
}

.download-list {
  display: flex;
  gap: 19px;
}

.download-photo {
  margin: 0px 218px 220px 305px;
  gap: 305px;
}

.email {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--Textemail);
  padding: 302px 456px 292px 454px;
}

.email-container {
  margin-right: 456px;
  margin-left: 454px;
}

.email-title {
  text-align: center;
  font-weight: 900;
  font-size: 55px;
  color: var(--TextSpan);

  width: 966px;
  height: 124px;
}

.email-text {
  font-weight: 400;
  font-size: 32px;
  color: var(--TextEmail);
  padding-top: 37px;
  padding-bottom: 49px;
}

.send {
  color: var(--TextSpan);
}

.send-label {
  font-weight: 400;
  font-size: 24px;
  border: 27px 278px 35px 27px;
  border-radius: 10px;
}

.send-button {
  font-weight: 500;
  font-size: 33px;
  background-color: var(--TextTitle);
  color: var(--TextSpan);
  border-radius: 8px;
  padding: 17px 35px 15px 38px;
}

.footer {
  background-color: var(--TextTitle);
  color: var(--Text-Question);
  padding-bottom: 147px;
}

.footer-container {
  display: flex;
  gap: 187px;
  flex-direction: row;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-logo {
  font-weight: 900;
  font-size: 40px;
  padding-top: 119px;
  padding-left: 100px;
  color: var(--TextSpan);
}

.footer-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  padding-left: 100px;
}

.networks-list {
  display: flex;
  gap: 14px;
  padding-top: 32px;
  padding-left: 100px;
}

.company-title,
.link-title,
.legal-title {
  font-weight: 400;
  line-height: 40px;
  color: var(--TextFooter);
  font-size: 24px;
  margin: 36px;
}

.company-list,
.link-list,
.legal-list {
  /* display: flex; */
  flex-direction: column;

  gap: 37px;
}

.company-title,
.link-title,
.legal-title {
  /* display: flex; */
  flex-direction: column;

  gap: 37px;
}

.company-item,
.link-item,
.legal-item {
  font-family: var(--fontSecondairy);
  font-weight: 400;
  line-height: 40px;
  font-size: 24px;
}

.company-list:hover,
.link-list:hover,
.legal-list:hover {
  opacity: 0.8;
}
